extends layout

block content
  .alert-box
    h1= title
    p.warning [DOCUMENTO CLASSIFICADO]
  
  .content-grid
    article
      h2 Incidente Mansão Spencer
      p Registros indicam falha na contenção biológica. 
      p Equipes Alpha e Bravo foram despachadas para o local.
    
    a.btn(href="/") Voltar ao Terminal
