<body style="background: #111; color: #fff;">
    <h1 style="color: #00ccff;">🔧 MINHA GARAGEM</h1>
    <div style="background: #222; padding: 15px; border: 1px solid #00ccff;">
        <h3>VEÍCULO: {{meuCarro}}</h3>
        <p>⚡ NITRO: {{nitro}}</p>
        <p>🎨 CUSTOM: {{estilo}}</p>
    </div>
    <br>
    <a href="/blacklist" style="color: #999;">
        << Voltar para a Rua</a>
</body>